<select (change)="selectChanged($event)" class="font-open-sans-condensed">
  <option value="cz">{{ 'LANGUAGES.CZECH' | translate }} (český)</option>
  <option value="en">{{ 'LANGUAGES.ENGLISH' | translate }} (English)</option>
  <option value="gr">{{ 'LANGUAGES.GREEK' | translate }} (Ελληνικά)</option>
  <option value="sr">{{ 'LANGUAGES.SERBIAN' | translate }} (Српски)</option>
  <option value="th">{{ 'LANGUAGES.THAI' | translate }} (ไทย)</option>
  <option value="tr">{{ 'LANGUAGES.TURKISH' | translate }} (Türk)</option>
  <option value="tr">{{ 'LANGUAGES.VIETNAMESE' | translate }} (Tiếng Việt)</option>
</select>
