div {
  display: flex;
  align-items: baseline;
}

span {
  margin-left: 1em;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  width: 70%;
}

input:focus {
  outline: none;
}

input.error-control {
  border: 2px solid red;
}

@media only screen and (min-width: 768px) {
  input {
    width: 20%;
  }
}
