div.login-container {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

div.form-container {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(224, 224, 224, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(224, 224, 224, 1);
  box-shadow: 0px 0px 5px 0px rgba(224, 224, 224, 1);
  background-color: white;
  padding: 20px;
  width: auto;
}

@media only screen and (min-width: 768px) {
  div.form-container {
    width: 400px;
  }
  .btn-submit {
    width: 70px;
  }
}

div.form-label-row {
  display: flex;
  justify-content: space-between;
}

div.form-label-row span {
  color: red;
}

div.form-submit-row {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

h2 {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-bottom: 1em;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.btn-submit {
  width: 110px;
}

.btn-submit:disabled {
  background-color: #a8a8a8;
  cursor: default;
}
