div.links-container {
  background-color: white;
  overflow: hidden;
}

div.links-container>div {
  margin: 1em;
}

@media only screen and (min-width: 768px) {
  div.links-container>div {
    margin-left: 2em;
  }
}

@media only screen and (min-width: 1280px) {
  div.links-container>div {
    margin-left: 10em;
  }
}

@media only screen and (min-width: 1600px) {
  div.links-container>div {
    margin-left: 20em;
  }
}

a, a:hover, a:visited {
  text-decoration: none;
  color: black;
}

.active {
  font-weight: bolder;
}
