<div class="container">
  <span class="title font-yellowtail">{{ 'TECHNICAL_PAGES.GENERAL.PAGE_TITLE' | translate }}</span>
  <span class="code font-orbitron">{{ 'TECHNICAL_PAGES.SERVER_ERROR.CODE' | translate | uppercase}}</span>

  <div class="info container">
    <span class="font-oswald line1">{{ 'TECHNICAL_PAGES.SERVER_ERROR.MESSAGE_LINE_1' | translate }}</span>
    <span class="font-oswald line2">{{ 'TECHNICAL_PAGES.SERVER_ERROR.MESSAGE_LINE_2' | translate }}</span>
  </div>

  <a [routerLink]="['']">{{ 'TECHNICAL_PAGES.GENERAL.BTN_HOMEPAGE' | translate }}</a>
</div>
