<div class="course-container">

  <div class="top-container">

    <div class="top column-1">
      <h3 class="font-open-sans">{{course.title}}</h3>
    </div>

    <div class="top column-2">
      <span><i class="far fa-clock"></i> {{course.duration | duration}}</span>
      <span style="margin-left: 1em;">
        <i class="far fa-calendar-alt"></i> {{course.creationDate | date:'d LLL, yyyy'}}
      </span>
    </div>

    <div class="top column-3"></div>

  </div>

  <div class="bottom-container">

    <div class="bottom column-1">
      <p class="font-open-sans">{{course.description}}</p>
    </div>

    <div class="bottom column-2">
      <button class="btn blue btn-edit" (click)="onEditClick()"><i class="fas fa-pen"></i> Edit</button>
      <button class="btn blue btn-delete" (click)="onDeleteClick()"><i class="fas fa-trash"></i> Delete</button>
    </div>

  </div>

</div>
