div {
  background-color: #414452;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

app-header-logo, .logged-options-container {
  margin-top: 1em;
  margin-bottom: 1em;
}

.logged-options-container {
  display: flex;
}

app-header-logo {
  margin-left: 1em;
}

app-header-user {
  margin-right: 1em;
}

app-language-selector {
  margin-top: 0.2em;
  margin-right: 1em;
}

@media only screen and (min-width: 768px) {
  app-header-logo {
    margin-left: 2em;
  }
  app-header-user {
    margin-right: 2em;
  }
}

@media only screen and (min-width: 1280px) {
  app-header-logo {
    margin-left: 10em;
  }
  app-header-user {
    margin-right: 10em;
  }
}

@media only screen and (min-width: 1600px) {
  app-header-logo {
    margin-left: 20em;
  }
  app-header-user {
    margin-right: 20em;
  }
}
